/venv
**__pycache__**
/uploads
/transcriptions
*.wav
*.opus
*.m4a
*.mp3
/pretrained_models
voice_database.db
/model_cache
token.pickle
credentials.json
/database
/Hin2Hinglish-ct2
/spkrec-ecapa-voxceleb
/temp_audio
mcp.json
models_preset.ini
/spkrec-ecapa-voxceleb
/outputs
todoist.json
GUI_mcp.json
/models
app_data.json
/documentation
DEVLOG.md