/venv
**__pycache__**
/uploads
/transcriptions
audio_queue.txt
*.wav
*.opus
*.m4a
*.mp3
/pretrained_models
HFToken.txt
voice_database.db
/model_cache
token.pickle
credentials.json
/database
/Hin2Hinglish-ct2
/spkrec-ecapa-voxceleb
/temp_audio
mcp.json
models_preset.ini
/spkrec-ecapa-voxceleb
/Qwen3-4B-int4-ov
/outputs
/qwen-2-5-3b-vl-instruct
/qwen-2-5b-vl-instruct
/Qwen2.5-7B-VL-int4-ov
OPENVINO_TOOL_CALLING.md
todoist.json
GUI_mcp.json